<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To-Do lists</title>
  </head>
  <body>
    <h1>Your To-Do list</h1>
    <form action="" method="post">
      <input
        name="item_text"
        type="text"
        placeholder="Enter a to-do item"
        id="id_new_item"
      />
      {% csrf_token %}
    </form>
    <table aria-label="To-do tasks" id="id_list_table">
      <tr>
        <th scope="col">Activity</th>
      </tr>
      {% for item in items %}
      <tr>
        <td>{{ forloop.counter }}: {{ item.text }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
